/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-dic-2025, 16.36.07
    Author     : Carmine
*/

.button {
    -fx-background-color:linear-gradient(to bottom, #2968a7, #14405d);
    -fx-background-radius:4px;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
}

/* Quando passo sopra con il mouse */
.button:hover {
    -fx-background-color: #1565C0; 
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 1);
}

/* Quando clicco sul button */
.button:pressed {
    -fx-background-color: #0D47A1; 
}